<%# HTMLの実装 %>
<h1>Top Page</h1>

<%# リンク先の実装 %>
<%# link_to 'リンクに表示する文章', 'リンク先パス名', method: :HTTPメソッド %>
<%=link_to '新規投稿', '/posts/new', method: :GET %>

<%# インスタンス変数@postには、コントローラ部でdbが全て代入されている %>
<%# 「1行ずつ表示」するためには、each doを用いる %>
<%# numというブロック変数に従って、1行目から@postsに入っている行だけ、繰り返す %>
<% @posts.each do |num|%>
  <div class="post">
    <div class="post-date">
      投稿日時:<%= num.created_at %>
    </div>
    <div class="post-content">
      <%= num.content %>
    </div>
  </div>
<% end %>